node_modules
npm-debug.log
.git
.gitignore
.env
*.md
!README.md
tests
jest.config.js
nodemon.json
passenger.log
.vscode
.cpanel.yml
.htaccess
.nixpacks.toml
docs
tmp
ebarimt*.json
ebarimt.xlsx
qpay
scripts
env.example.txt
